.sort-bar{
    background:#fff;
    border:1px solid #e5e5e5;
    border-radius:10px;

    padding:15px 20px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:20px;

    box-shadow:0 2px 8px rgba(0,0,0,.05);
}

.sort-title{
    font-size:18px;
    font-weight:600;
    color:#444;

    display:flex;
    align-items:center;
    gap:8px;
}

.sort-title i{
    color:#28a745;
}

#sort-select{
    width:240px;
    border-radius:8px;
    cursor:pointer;
    font-weight:500;
}
#bestSaleCarousel .card{
    border: none;
    transition: .25s;
}

#bestSaleCarousel .card:hover{
    transform: translateY(-5px);
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

#bestSaleCarousel img{
    height:220px;
    object-fit:cover;
}

.carousel-control-prev,
.carousel-control-next{
    width:5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    padding:18px;
}

@media(max-width:768px){

    #bestSaleCarousel img{
        height:150px;
    }

}
.card-img-top{
    width:100%;
    aspect-ratio:1/1;
    object-fit:contain;
}
.carousel-item .row{
    flex-wrap:nowrap;
    overflow:hidden;
}
.carousel-item .col-6{
    flex:0 0 50%;
}