<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/navbarStyle.css" rel="stylesheet">

    <title></title>
</head>
<body>
    <div id="navbar">
        <div class="navbar-wrap">
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
                <div class="container">

                    <button class="navbar-toggler" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#mainMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="mainMenu">
                        <ul class="navbar-nav mx-auto">

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
      HOA SINH NHẬT
    </a>
    <ul class="dropdown-menu text-uppercase" id="hoa-sinh-nhat-menu"></ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
      HOA KHAI TRƯƠNG
    </a>
    <ul class="dropdown-menu text-uppercase" id="hoa-khai-truong-menu"></ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
      LAN HỒ ĐIỆP
    </a>
    <ul class="dropdown-menu text-uppercase" id="lan-ho-diep-menu"></ul>
  </li>

  <li class="nav-item">
    <a id="hoa-tang-le-link" class="nav-link" href="#">
        HOA TANG LỄ
    </a>
</li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
      CHỦ ĐỀ
    </a>
    <ul class="dropdown-menu text-uppercase" id="chu-de-menu"></ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
      THIẾT KẾ
    </a>
    <ul class="dropdown-menu text-uppercase" id="thiet-ke-menu"></ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
      HOA TƯƠI
    </a>
    <ul class="dropdown-menu text-uppercase" id="hoa-tuoi-menu"></ul>
  </li>

</ul>
                    </div>

                </div>
            </nav>
        </div>
        <p class="text-center fw-bold text-danger mb-0 py-2" style="font-size: 14px;">
            Hotline Đặt Hoa Nhanh: 0972378857 - 0345204175
        </p>
    </div>
</body>
</html>